<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ConfigValueMapper" >
 
   <select id="selectAllConfigValue" parameterType="map" resultType="com.eshop.webapp.m.model.ConfigValue">
  	SELECT `key`, `value`, `desc` FROM config_value
  </select>
   
</mapper>